
@{
    Layout = "~/Views/Shared/_SpaceManagerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListArtPieces</title>
</head>
<body>
        <tr>
            <th> # </th>
            <th>Art Piece Name</th>
            <th>Art Piece Location</th>
            <th>Author</th>
            <th>Year</th>
            <th>Dimension</th>
            <th>Description</th>
        </tr>
        @foreach (var item in @ViewBag.Data)
        {


                @Html.ActionLink(linkText: "View Details", actionName: "EventRequestDetails", controllerName: "ExhibitionShedule", routeValues: new { eventId = @item.Id }, htmlAttributes: null)
            |   @Html.ActionLink(linkText: "Approve", actionName: "EventRequestApprove", controllerName: "ExhibitionShedule", routeValues: new { eventId = @item.Id }, htmlAttributes: null)
        </td>*@

    </table>
    <p>
        @Html.ActionLink("Insert New", "InsertArtPiece")
    </p>
    <p>
        @Html.ActionLink("Remove Seleted Pieces", "RemovePiece")
    </p>
    <p>
        @Html.ActionLink("Attach Art Pieces to one Exihibition", "AttachPiece")
    </p>

    <p>
        @Html.ActionLink(linkText: "Back to Home Page", actionName: "SheduleExhibition", controllerName: "ExhibitionShedule")
    </p>
</div>

</body>
</html>
