
@{
    Layout = "~/Views/Shared/_SpaceManagerSharedLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListArtPieces</title>
</head>
<body>
<div>
    
    <table class="table table-hover">
        <tr>
            <th> # </th>
            <th>Art Piece Name</th>
            <th>Art Piece Location</th>
            <th>Author</th>
            <th>Year</th>
            <th>Dimension</th>
            <th>Description</th>
        </tr>

        @foreach (var item in @ViewBag.Data)
        {
        <tr>
            <td>@Html.ActionLink(linkText: "Delete ArtPiece", actionName: "RemovePiece", controllerName: "Catalog", routeValues: new { artpieceId = @item.Id }, htmlAttributes: null) |
                @if (@item.ArtPieceState.Name == "armazem")
                {
                    @Html.ActionLink(linkText: "Attach to event", actionName: "AttachPiece", controllerName: "Catalog", routeValues: new { artpieceId = @item.Id }, htmlAttributes: null)
                }
                   </td>
            <td>@item.Name</td>
            <td>@item.ArtPieceState.Name</td>
            @*<td>@item.RoomMuseum.Name</td>*@                    @*DESCOMENTAR DEPOIS DE TER O ATRIBUTO NAME NA TABELA ROOMMUSEUM*@
            <td>@item.Author</td>
            <td>@item.Year</td>
            <td>@item.Dimension</td>
            <td>@item.Description</td>


            @*<td>
                @Html.ActionLink(linkText: "View Details", actionName: "EventRequestDetails", controllerName: "ExhibitionShedule", routeValues: new { eventId = @item.Id }, htmlAttributes: null)
            |   @Html.ActionLink(linkText: "Approve", actionName: "EventRequestApprove", controllerName: "ExhibitionShedule", routeValues: new { eventId = @item.Id }, htmlAttributes: null)
        </td>*@
        </tr>
        }

    </table>

    <p>
        @Html.ActionLink("Insert New", "InsertArtPiece")
    </p>
    <p>
        @Html.ActionLink("Remove Seleted Pieces", "RemovePiece")
    </p>
    <p>
        @Html.ActionLink("Attach Art Pieces to one Exihibition", "AttachPiece")
    </p>
    <hr/><hr />

    <p>
        @Html.ActionLink(linkText: "Back to Home Page", actionName: "SheduleExhibition", controllerName: "ExhibitionShedule")
    </p>
</div>

</body>
</html>
